@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  padding: 3px;
}

.errormessage{
  color:rgb(220, 38, 38);
  text-align: left;
}

.authbutton{
  padding: 4px;
  background-color: white;
  border-radius: 18px;
  color:black;
  width: 10em;
}

.navlink{
  text-decoration: underline;
  text-underline-offset: 2px;
  border-bottom: rgb(6, 6, 99) 2px solid;
}